/************* Start Style For Header ***************/
.navbar{margin-bottom: 50px;}
.logo{
    font-size: 20px;
    color: #999999;
  }

  .search-input {
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom:1px solid #999;
  }
  
  .search-input:focus {
    background: transparent;
    box-shadow: none;
  }
  

.input-group{
  width: 50%;
  margin-left: 60%;
 }

.input-group .form-control{
  font-size: 14px;
}

.search-button {
  border-radius: 100%;
  padding: 5px 8px;
  transition: all .4s;
  background-color: #ffffff;
  color: #999999;
}

.search-button:hover {
  color: #ffffff;
  background-color: #999999;
  transform: translateY(-1px);
}

.icon-parent {
  position: relative;
}

.clr{
  color: #333333;
}

.icon-bullet::after {
  content: "5";
  position: absolute;
  top: 20px;
  left: 25px;
  height: 15px;
  width: 12px;
  background-color: #e53935;
  border-radius: 50%;
  color: #ffffff;
}

@media (max-width: 768px) {
  .sidebar {
    position: static;
    height: auto;
  }

  .top-navbar {
    position: static;
    
  }
}
  
/************* End Style For Header ***************/


