.dashboard-addevent{
    position: relative;
    top: 50px;
    background-color: #eee;
    text-transform: capitalize;
    overflow: hidden;
}
.dashboard-addevent__title{
    width: 95%;
    height: 60px;
    border-radius: 4px;
    background-color: #2CA8FF;
    color: #ffffff;
    line-height: 60px;
    padding-left: 20px;
    font-size: 20px;
    position: absolute;
    top: -10px;
    left: 20px;
    z-index: 1;
}
.dashboard-addevent form{
    background-color: #ffffff;
    width: 75%;
    height: 100%;
    padding-top: 60px;
    border-radius: 6px;
    position: relative;
    top: 25px;
}
.dashboard-addevent form >input{
    display: block;
    width: 30%;
    margin: 40px;
    border: none;
    opacity: 0.6;
    border-bottom: 1px solid #999;
    outline: none;
}

.dashboard-addevent form input[type='text']{
    width: 50%;
}
.dashboard-addevent #addevent__discription{
    width: 90%;
}
.dashboard-addevent .dashboard-castuminput{
    width: 70%;
    height: 50px;
    position: relative;
    z-index: 1;
}
.dashboard-addevent #dashboard-cover{
    border: none;
    border-bottom: 1px solid #999;
    margin-left: 25px;
    width: 40%;
    opacity: 0.6;
}
.dashboard-addevent form input[type='file']{
    width: 100%;
    height: 50px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}
.dashboard-addevent .dashboard-castuminput:after{
    content: 'choose image';
    color: #FFF;
    background-color: #2CA8FF;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    
}
.dashboard-addevent form input[type='submit']{
    background-color: #2CA8FF;
    color: #FFF;
    width: 150px;
    height: 50px;
    line-height: 40px;
    text-align: center;
    border-radius: 3px;
    opacity: 1;
    text-transform: uppercase;
    float: right;
}
