.events-section{
    background-color: #FFFBFA;
}
.events-header{
    text-align: center;
    margin: 30px;
    color: #011638;
}

.events-image{
    width: 330px;
    height: 200px;
    border-radius: 5%;
    margin-left: 15px;
}
.events__details {
    padding-left: 30px;
}
.events__details h3{color: #011638;}
.events__details p{
    padding: none;

}
.events__icon i{
    font-size: 22px;
    color: #01A4F1;
    
}
.all-events{
    transition: all .4s ease-in-out;
    box-shadow: 8px 10px 18px -10px #011638;
}
.all-events:hover{
    transform: scale(1.05);
}