

.img_member{
    
    background-color: cornflowerblue;
     width:140px;
    border-radius:100%;
   

}
.card_members
{
    background-color: slategrey;
    width:auto;
    margin:7px 0px 0px 7px;
}
.slider
{
    background-color: springgreen;
    width:auto;
    
}
/* 
.slider_members
{}

.slider_
{
    background-color: coral;
     list-style: none;
   
}


.card_members
{
background-color: slategrey;

}






.name_member{
    background-color: saddlebrown;
}


.sub_member{
    background-color: seashell;
}


.card_members
{
 background-color: skyblue;
   margin-top:5px;
} */
