
/* Add event */
.addition{
    padding-top: 2.9rem;
    }
    
    .add-event-btn{
      width: 92%;
      margin-left: 4%;
      margin-right: 4%;
      border-radius: 3px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 36px;
      position: relative;
      background-color: #ffffff;
      border: none;
      cursor: pointer;
      color: #2CA8FF ;
      text-align: center;
    }
    
    .add-event-btn:hover{
      color: #ffffff;
      background-color: #2CA8FF;
    }
    
     .add-icon{
      background-color: #2CA8FF;
      border-radius: 100%;
      color: #ffffff;
    }
    
    .add-icon:hover{
      background-color: #999999;
    }
    
    /* cards */
    
    
    .card{
      margin-bottom: 15px;
      margin-top:40px;
      box-shadow: 1px 2px 5px #999;
      transition: all .4s;
    }
    
    .card-stat:hover{
      box-shadow: 2px 3px 15px #999;
      transform: translateY(-1px);
    }
    
.card-title{
    font-size: 18px;
    margin-bottom: 0;
    color: #333333;
  }
  
  .card-category {
    font-size: 14px;
    color: #999999;
    margin-bottom: 0;
    }
  
  .card-left .campaign, .card-left .material-icons{
    font-size: 16px;
    color: #999999;
  }
  
  .fa-edit, .fa-trash-alt{
    color: #999999;
  }
  
  .card .card-header {
    border-bottom: none;
    background: transparent;
  }
  
  .card [class*="card-header-"] {
    margin: 0px 15px 0;
    padding: 0;
    position: relative;
  }
  
  .card-body{
  padding-top: 0rem;
  padding-left: 0.1rem;
  padding-bottom: 0.5rem;
  }
  
  .card-stat .card-icon .events{
    margin-top: -25px;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
    height: 300px;
    border-radius: 3px;
  }
  
  
  